div {
    background-color: yellowgreen;
}

/* form {
    background-color: lightgray;
} */

input{
    background-color : inherit
}

button {
    background-color: inherit;
}

button:hover {
    background-color: lightblue;
    color: black;
}